.row.comparison-table-body
  - levels.each do |level|
    .col-md-6.level-column.js-row-collapse-col{ class: "#{level.name}-col" }
      = partial "item-group", locals: { level: level, title: title, key: key }

