---
title: "How we're building an award-winning culture at GitLab"
author: Betsy Church
author_gitlab: bchurch
author_twitter: gitlab
categories: company
image_title: '/images/blogimages/gitlab-contribute-team-photo.png'
description: "We're proud to see GitLab recognized as one of Inc. Magazine's Best Workplaces in 2019!"
tags: remote work, news, inside GitLab, collaboration,
twitter_text: "We're proud to be named one of @Inc’s Best Workplaces of 2019! #IncBestWorkplaces #LifeatGitLab"
featured: yes # reviewer should set
postType: corporate
ee_cta: false
---

We’re delighted to share that GitLab has been named one of [Inc. Magazine’s Best Workplaces in 2019](https://www.inc.com/best-workplaces)!

In its fourth annual ranking for the private company sector, Inc.’s Best Workplaces list recognizes companies that have created exceptional workplaces through vibrant cultures, employee engagement, and stellar benefits.

Along with nearly 2,000 other participating companies, GitLab submitted an initial application followed by an anonymous employee survey, which gathered information about our team members’ confidence in the future, management effectiveness, trust, perks, and more.

There are many reasons we’re proud of the culture we’ve built and continue to sustain at GitLab, but we think it’s best to hear about it straight from our people.
Here’s what a few of our [team members](/company/team/) from across the globe value most about life at GitLab:


> “GitLab has a world-class team and industry-changing product velocity. I'm constantly learning from the people around me, and I've yet to hear anyone reject an idea because ‘It's just too hard.’ As a UX practitioner, we're often used to seeing our efforts get pushed down a backlog, but at GitLab, we see product refinements continually (and quickly) delivered into production. It's exciting and motivating.” [_– Christie Lenneville, UX Director_](/company/team/#clenneville)


> “Working for GitLab is about something bigger than myself – it's bigger than my team, it's bigger than the employees – it's about partnering with the entire community to create better software.
Simultaneously I get to help blaze a new trail – scaling an amazing culture with remote teams from around the globe.”
[_– Joel Krooswyk, Manager, Customer Success_](/company/team/#JoelKroos)


> “There are so many things that make GitLab special.
To start, of course, it's the people. I think this is due to the unique way in which we work – totally remotely from all around the globe.
There is a better chance of obtaining the best talent for the role when there aren't restrictions placed on location.
The flexibility also allows me to have time back for my family and life.
The stress is lower, I am happier working, and the overall work-life balance is just better here.”
[_– Candace Byrdsong Williams, Diversity, Inclusion and Belonging Partner_](/company/team/#cwilliams3)


> “Working at GitLab gives me confidence because we work with the highest level of transparency.
Being able to work remotely not only saves me on average two hours of daily commute time, but also makes it so efficient to respond to customers on time at any time.” [_– Xiaogang Wen, Solutions Architect_](/company/team/#xiaogang_gitlab)


> “I love working at GitLab for a variety of reasons, but the flexibility in creating work-life harmony in my life tops my list.
I work closely with our executive team here, and they have been so supportive and encouraging when family-related conflicts arise.
They are constantly reminding me that “family first” is our mantra, and give me ease of mind to take time away when needed.
Outside of that, Sid, our co-founder and CEO, told me if it’s a beautiful day out and I just want to go enjoy it, I should do that.
Moments like these make me so proud to be a part of the GitLab team.” [_– Cheri Holmes, Manager, Executive Assistant_](/company/team/#cheriholmes)


We celebrate this news as many of our team members are returning home from [GitLab Contribute](/events/gitlab-contribute/), the next iteration of our company [summits](/company/culture/contribute/previous/).
Here's a glimpse of the fun we had together in New Orleans:

<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/xdtPNXtkBhE" frameborder="0" allowfullscreen="true"> </iframe>
</figure>

Thank you to all of our team members around the globe who contribute to making GitLab a great place to work.

Interested in joining our fast-growing, [all-remote](/company/culture/all-remote/) team? [Check out our vacancies](/jobs/).
