---
layout: handbook-page-toc
title: "Sec Section Engineering Metrics"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

These pages are part of our centralize [Engineering Metrics Dashboards](/handbook/engineering/metrics/)

### Child Pages
* [Secure Stage Dashboards](/handbook/engineering/metrics/sec/secure/)
* [Protect Stage Dashboards](/handbook/engineering/metrics/sec/protect/)

<%= partial "handbook/engineering/metrics/partials/team_dashboard.erb", locals: { filter_type: "sub_department", filter_value: "sec" } %>

